# Data & experiment outputs
data/
runs/
*.pth
*.onnx
*.pt

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
wandb/

car-damage-coco-dataset-3/
.env
front_kr-1/
output_img_*
input_img_*
rf_ds_*  # roboflow dataset naming convention

.kaggle